//colores
$primary-color: #e82933;
$primary-hover: #f5666b;
$primary-active: #c6272b;
$text-dark: #171212;
$text-muted: #876363;
$text-gray: #555555;
$bg-light: #ffffff;
$bg-button: #f5f0f0;

//fuentes
$font-main: "Plus Jakarta Sans", sans-serif;
