<<<<<<< HEAD
@use "../abstracts/variables";

=======
@use '../abstracts/variables' as *;
>>>>>>> isabelPalacios
.footer {
  width: 100%;
  padding: 32px 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  font-family: variables.$font-main;
  background-color: variables.$bg-light;

  &__links {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 920px;
  }

  &__link {
    text-decoration: none;
    color: variables.$text-muted;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    transition: color 0.2s ease;

    &:hover {
      color: variables.$text-dark;
    }
  }

  &__copy {
    font-size: 14px;
    color: variables.$text-muted;
    text-align: center;
  }
}
