@use "../abstracts/variables";

.catalog {
  background-color: variables.$bg-light;
  font-family: variables.$font-main;
}

.catalog__container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
